{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-4">
        <!-- back button  -->
        <div class="container-back">
          <a href="{% url 'detail_ticket' object.pk %}" class="back-button-common"> Back </a>
        </div>
      </div>
      <div class="col-4 container-cover-form-register">
        <h3>Raise Ticket</h3>
        <div class="container-form-major-register">
          <form method="POST">

            {% csrf_token %}
            
            {{ form|crispy }}

    
            <button class="button-custom-login-register" type="submit">Raise</button>
            <!-- <p>Have an Account? <a href="{% url 'login' %}">Login</a></p> -->
          </form>
          
        </div>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>
{% endblock content %}